projects-section{
    display: grid;

}

projects-section > h2{
    text-align: center;
}

.projects__card__container{
    display: grid;
    gap: 10px;
    color: var(--text-white);
}

.project__card__img__container > img{
    height: 200px;
    width: 100%;
}

.project__card__info__container{
    display: grid;
    gap: 5px;
}