initial-popup{
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border-top: 1px solid white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in;
    /* transition: transform 5s ease-in-out; */
    /* transform: translateY(100%); */
}

initial-popup.active{
    max-height: 100%;
    /* transform: translateY(0%); */
}

.initialpopup__content__container{
    box-sizing: border-box;
    /* border: 1px solid white; */
    width: 100%;
    color: white;
    padding: 15px;
    background-color: var(--color-purple-2);
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: space-between
}

.initialpopup__text__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.initialpopup__text__content > a{
    display: flex;
}

.initialpopup__text__content > a > p{
    text-decoration :underline;
}

/* .initialpopup__text__content > a > span{
    
} */

@media (min-width: 768px){

    initial-popup{
        border: none;
        padding: 0 50px;
    }

    .initialpopup__content__container{
        /* border: 1px solid white; */
    }

}

@media (min-width: 998px){
    .initialpopup__text__content{
        flex-direction: row;
    }
}