skills-section{
    display: grid;
}

skills-section > h2{
    text-align: center;
}

.skills__content__container{
    display: flex;
    flex-direction: column;
}

.navtab__types__container{
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--container-border-grey);
    height: 100%;
}

#typeList{
    list-style: none;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

#prev-btn, #next-btn{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--container-bg-grey);
    border: none;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    transition: opacity 100ms;
    color: var(--text-white);
}

#prev-btn:hover, #next-btn:hover{
    background-color: var(--btn-hover-grey);
}

#prev-btn{
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#next-btn{
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}


#typeList > li {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1 0 100%;
}

#typeList > li > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    color: var(--text-grey);
    border-radius: 5px 5px 0 0;
}

/*  */

#typeList > li > p.active {
    color: var(--text-white);
    background-color: var(--container-bg-grey);
    border: 1px solid var(--container-border-grey);
}

/*  */

.navtab__content__container{
    display: grid;
    gap: 10px;
    height: 100%;
    padding: 20px;
    background-color: var(--container-bg-grey);
    border: 1px solid var(--container-border-grey);
    border-radius: 0 5px 5px 0;
    color: var(--text-grey);
}

.navtab__content__figure__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.navtab__content__figure__container > figure{
    display: flex;
    justify-items: center;
    gap: 5px;
    justify-content: space-around;
    /* height: 90px; */
    width: 50px;
    align-items: center;
    flex-direction: column;

}

.navtab__content__figure__container > figure > img{
    width: 100%;
    height: 50px;
}

.navtab__content__figure__container > figure > p{
    white-space: nowrap;
    text-align: center;
}


@media (min-width: 768px) {
    
    skills-section{
        padding: 60px;
    }

    .skills__content__container{
        flex-direction: row;
    }

    .navtab__types__container{
        width: 30%;
        overflow: visible;
        height: max-content;
    }

    .navtab__types__container > ul{
        flex-direction: column;
        overflow: visible;
    }

    #typeList > li {
        flex: none;
    }

    #typeList > li > p {
        width: 100%;
        height: 50px;
        border-radius: 0;
    }

    #prev-btn, #next-btn{
        display: none;
    }

    /*  */

    .navtab__content__container{
        width: 70%;
    }

}

